body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    color: #173f5f;
    margin-top: 3em;
}

.header {
    display: block;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 2em;
    background-color: #173f5f;
    color: white;
}

.cards {
    width: 70%;
    display: flex;
    margin: 20px;

}

.item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 5px;
    padding: 10px;
    padding-top: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px gray; ;
}
.item h3 {
    align-self: flex-start;
    text-align: left;
}

.icons {
    width: 50px;
    height: 50px;
    
}

.item:hover {
    box-shadow: 2px 2px 10px gray;
    transform: scale(1.05);
}



.gitLink {
    color: #2575fc;
    font-weight: bold;
}