* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b5d9f84d;
}

h2 {
    color: #173f5f;
}

h3 {
    color: #20639b;
}

.header {
    background-color: #173f5f;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.section {
    width: 70%;
    margin: 50px;
}

.skill {
    background-color: #4e698027;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.1s ease, border-left 0.3s ease;
}

.skill:hover {
    background-color: #4e69804d;
    border-left: #173f5f 4px solid;
}

.techs {
    display: flex;

}

.tech {
    background-color: #4e698027;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    max-width: 500px;
    align-items: center;
    text-align: justify;

    padding: 20px;
    margin: 8px;
    border: 1px solid #173f5f07;
    border-radius: 5px;
    box-shadow: 0 0 5px #173f5f5e;

    transition: transform 0.3s ease;
}

.tech img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    opacity: 0.95;
}

.tech:hover {
    box-shadow: 0 0 15px #173f5f9e;
    transform: translateY(-5px);
}

.Footer {
    background-color: #173f5f;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 100px;
}